.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: max-content;
  height: max-content;
  padding: 0.6rem 1rem;

  border-radius: 0.3rem;
  box-shadow: $btn-box-shadow;
  font-weight: 500;

  cursor: pointer;
  transition: background 100ms;

  // Icon
  svg {
    color: #fff;
  }

  &:focus {
    outline: max(1px, 0.15em) solid var(--input-focus-border);
  }
}

.btn-main {
  color: #fff;
  background: var(--main-btn-bg);
  border: none;

  &:hover {
    background: var(--main-btn-bg-hover);
  }
}



.btn-outline {
  background: transparent;
  border: 2px solid var(--border);

  &:hover {
    background: var(--outline-btn-hover);
  }
}