.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: max-content;
  height: max-content;
  padding: 0.5rem .8rem;

  border: none;
  border-radius: 0.5rem;
  box-shadow: $btn-box-shadow;
  font-weight: 600;

  cursor: pointer;
  transition: all 60ms;

  // Icon
  svg {
    color: #fff;
  }

  /*   &:focus {
    outline: max(1px, 0.15em) solid var(--input-focus-border);
  } */
}

button:disabled {
  background-color: var(--disabled) !important;
  color: var(--paler-font) !important;

  svg {
    color: var(--paler-font) !important;
  }

  cursor: not-allowed;
}

.btn-no-style {
  border: none;
  padding: .3rem .5rem;

  color: var(--text-100);
  background-color: transparent;

  svg {
    color: var(--text-100);
  }


  &:hover {
    background-color: var(--gray-hover);
  }

}

.btn-icon {
  padding: 0.5rem 1rem;

  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--text-100);
  outline: max(1px, 0.15em) solid transparent;

  svg {
    color: var(--text-100);
  }

  &:hover {
    background-color: var(--gray-hover);
  }
}

// General use
.btn-outline {
  color: var(--text-100);
  background-color: transparent;
  outline: 2px solid var(--border);

  &:hover {
    background-color: var(--outline-btn-hover);
  }
}

.btn-outline--active {
  outline: 2px solid var(--brand-green);
}

.btn-main {

  color: #fff;
  background-color: var(--main-btn-bg);

  &:hover {
    background-color: var(--main-btn-bg-hover);
  }
}


.btn-create {

  color: #fff;
  background-color: var(--create-btn-bg);

  &:hover {
    background-color: var(--create-btn-bg-hover);
  }
}

.btn-save {
  color: #fff;
  background-color: var(--save-btn-bg);

  &:hover {
    background-color: var(--save-btn-bg-hover);
  }
}

.btn-danger {
  color: #fff;
  background-color: var(--danger-btn-bg);

  &:hover {
    background-color: var(--danger-btn-bg-hover);
  }
}

.btn-warning {
  color: #fff;
  background-color: var(--warning-btn-bg);

  &:hover {
    background-color: var(--warning-btn-bg-hover);
  }
}

.btn-bottom-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.3rem .8rem;

  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--text-100);
  outline: max(1px, 0.15em) solid transparent;

  svg {
    color: var(--text-100);
  }

  &:hover {
    background-color: var(--gray-hover);

  }

  &:focus {
    outline: max(1px, 0.15em) solid var(--input-focus-border);
  }

}


.btn-upgrade {
  color: #fff;
  background-color: var(--upgrade-btn-bg);

  svg {
    color: #fff;

  }

  &:hover {
    background-color: var(--upgrade-btn-bg-hover);
  }
}