.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: max-content;
  height: max-content;
  padding: 0.6rem 1rem;

  border: none;
  border-radius: 0.5rem;
  box-shadow: $btn-box-shadow;
  font-weight: 600;

  cursor: pointer;
  transition: all 60ms;

  // Icon
  svg {
    color: #fff;
  }

  &:focus {
    outline: max(1px, 0.15em) solid var(--input-focus-border);
  }
}

button:disabled {
  background-color: var(--disabled) !important;
}

.btn-no-style {
  border: none;
  padding: .3rem .5rem;

  color: var(--text-100);
  background: transparent;

  svg {
    color: var(--text-100);
  }


  &:hover {
    background: var(--grey-hover);


  }

}

.btn-icon {
  padding: 0.3rem .8rem;

  line-height: 0;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--text-100);

  svg {
    color: var(--text-100);
  }

  &:hover {
    background: var(--grey-hover);

  }
}

// General use
.btn-outline {
  color: var(--text-100);
  background: transparent;
  border: 2px solid var(--border);

  &:hover {
    background: var(--outline-btn-hover);
  }
}

.btn-main {

  color: #fff;
  background: var(--main-btn-bg);

  &:hover {
    background: var(--main-btn-bg-hover);
  }
}


.btn-create {

  color: #fff;
  background: var(--create-btn-bg);

  &:hover {
    background: var(--create-btn-bg-hover);
  }
}

.btn-save {
  color: #fff;
  background: var(--save-btn-bg);

  &:hover {
    background: var(--save-btn-bg-hover);
  }
}

.btn-danger {
  color: #fff;
  background: var(--danger-btn-bg);

  &:hover {
    background: var(--danger-btn-bg-hover);
  }
}

.btn-warning {
  color: #fff;
  background: var(--warning-btn-bg);

  &:hover {
    background: var(--warning-btn-bg-hover);
  }
}