.form__input-single {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.4rem;
}

.form__label {
  margin-bottom: .3rem;
  width: max-content;

  font-weight: 600;
  color: var(--pale-font);
}

.form__text-input {
  width: inherit;
  line-height: 0.5rem;
  padding: 0.5rem;


  color: var(--f-color);
  background-color: var(--text-input-bg);
  font-size: 1rem;

  border: 1px solid var(--border-darker);
  border-radius: 0.5rem;
  outline: 2px solid transparent;
  box-shadow: 0 0px 2px 0 var(--shadow);

  &:focus {
    transition: 0.2s;
    outline: 1px solid var(--input-focus-border);
  }

  &::placeholder {
    color: var(--pale-font);
    opacity: 0.6;
  }

}


// Inputs with icon
.input-single__icon {
  position: absolute;
  right: .4rem;
  top: 1.7rem;

  color: var(--palest-font);
  font-size: 1.1rem;
  border-radius: .5rem;

}

.input-single__clickable-icon {

  cursor: pointer;

  &:hover {
    color: var(--f-color);
  }
}

.form__with-icon {
  position: relative;

  .form__text-input {
    padding-right: 2.5rem;
  }
}

// Remove autocomplete input background color
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

select:disabled {
  background-color: var(--disabled);
}