:root {
  // Primary
  --primary-100: #00ebc7;
  --primary-200: #ff5470;
  --primary-300: #19725D;

  // Accent
  --accent-100: #f5be0b;
  --accent-200: #fef1c7;

  // Brand
  --brand-red: #FF4755;
  --brand-green: #98DB7C;

  // Colors
  --darker-green: #82D361;
  --gray-black: #5B5B5B;


  // Texts
  --text-100: #292524;
  --text-200: #78716c;
  --link: #4F46E5;
  --pale-font: #585858;
  --paler-font: #8c8c8c;
  --palest-font: #b3b3b3;

  --anti-color: #fff; // for dark or light mode change

  // Backgrounds
  --bg-100: #ffffff;
  --bg-200: #f5f5f4;
  --bg-300: #E0E2E5;
  --text-input-bg: #fff;
  --toggle-input-bg: #2196f3;

  // Borders
  --border: #E5E5E5;
  --border-darker: #cccccc;
  --input-focus-border: var(--primary-100);

  // Shadows
  --shadow: #d4d4d4bf;
  --shadow-darker: #b3b3b3bf;
  --shadow-darkest: #8c8c8cbf;

  // Others
  --place-holder: #BDBDBD;
  --disabled: #c2c2c2;
  --online-count-green: #2CC56F;


  // Hovered
  --link-color-hover: #4139d8;

  // Buttons
  --main-btn-bg: #00ebc7;
  --main-btn-bg-hover: #3dc2b5;
  --outline-btn: #ffffff;
  --outline-btn-hover: #f5f5f5;
  --create-btn-bg: #2CC56F;
  --create-btn-bg-hover: #20b661;
  --save-btn-bg: #4F46E5;
  --save-btn-bg-hover: #4139d8;
  --danger-btn-bg: #FF4755;
  --danger-btn-bg-hover: #e53b49;
  --warning-btn-bg: #f5be0b;
  --warning-btn-bg-hover: #e4b00a;
  --grey-hover: #e2e2e2;


  // Toast
  --toast-success: #2CC56F;
  --toast-error: #FF4755;
  --toast-warning: #f5be0b;
  --toast-info: #4F46E5;

}

.dark {
  /*   --primary-100: #00ADB5;
  --primary-200: #AAE3E2;
  --primary-300: #fdf6fd;
  --accent-100: #AC7DD2;
  --accent-200: #fff4ff;
  --text-100: #EEEEEE;
  --text-200: #C5C5C5;
  --bg-100: #222831;
  --bg-200: #393E46;
  --bg-300: #454e59;

  --primary-100: #892CDC;
  --primary-200: #BC6FF1;
  --primary-300: #fdf6fd;
  --accent-100: #D9ACF5;
  --accent-200: #fff4ff;
  --text-100: #EEEEEE;
  --text-200: #FDEBED;
  --bg-100: #222831;
  --bg-200: #393E46;
  --bg-300: #454e59;

 */
}