:root {
  // Primary
  --primary-100: #61DAFB;
  --primary-200: #e63956;

  // Accent
  --accent-100: #d946ef;
  --accent-200: #fdf6c3;

  // Brand
  --brand-red: #FF4755;
  --brand-green: #98DB7C;

  // Colors
  --darker-green: #82D361;
  --gray-black: #5B5B5B;


  // Texts
  --text-100: #292524;
  --text-200: #78716c;
  --link: #4F46E5;
  --pale-font: #585858;
  --paler-font: #8c8c8c;
  --palest-font: #b3b3b3;

  --anti-color: #fff; // for dark or light mode change

  // Backgrounds
  --bg-100: #ffffff;
  --bg-200: #f5f5f4;
  --bg-300: #ffffff;
  --text-input-bg: #fff;
  --toggle-input-bg: #2196f3;


  // Borders
  --border: #E5E5E5;
  --border-darker: #cccccc;
  --input-focus-border: var(--primary-100);

  // Shadows
  --shadow: #d4d4d4bf;
  --shadow-darker: #b3b3b3bf;
  --shadow-darkest: #8c8c8cbf;
  --modal-overlay: #2020204d;

  // Others
  --place-holder: #BDBDBD;
  --disabled: #c2c2c2;
  --online-count-green: #2CC56F;


  // Hovered
  --link-color-hover: #4139d8;

  // Buttons
  --main-btn-bg: #61DAFB;
  --main-btn-bg-hover: #3cd5ff;
  --outline-btn-hover: #252525;
  --create-btn-bg: #2CC56F;
  --create-btn-bg-hover: #20b661;
  --save-btn-bg: #4F46E5;
  --save-btn-bg-hover: #4139d8;
  --danger-btn-bg: #FF4755;
  --danger-btn-bg-hover: #e53b49;
  --warning-btn-bg: #f5be0b;
  --warning-btn-bg-hover: #e4b00a;
  --gray-hover: #e6e6e6;
  --soft-hover: #b3b3b3;


  // Toast
  --toast-success: #2CC56F;
  --toast-error: #FF4755;
  --toast-warning: #f5be0b;
  --toast-info: #4F46E5;

  // Errors and warnings
  --error-text: #ff3f4d;
  --warning-text: #f5be0b;


  // Content loading placeholder
  --content-placeholder: #eee;
  --content-placeholder-darker: #ddd;

  // Chat
  --my-message-bg: #cdd1f8;
  --my-message-hover-bg: #a3abf5;
  --others-message-bg: #d8d8d8;
  --others-message-hover-bg: #b6b6b6;
  --actions-bg: #4c4e66;

}

.dark {
  // Primary
  --primary-100: #61DAFB;
  --primary-200: #e63956;

  // Accent
  --accent-100: #d946ef;
  --accent-200: #fdf6c3;

  // Brand
  --brand-red: #ff3f4d;
  --brand-green: #77b859;

  // Colors
  --darker-green: #6eb94d;
  --gray-black: #939393;

  // Texts
  --text-100: #f0efef;
  --text-200: #a8a5a5;
  --link: #a188ff;
  --pale-font: #c7c7c7;
  --paler-font: #9e9e9e;
  --palest-font: #757575;

  --anti-color: #111; // for dark or light mode change

  // Backgrounds
  --bg-100: #24272c;
  --bg-200: #222831;
  --bg-300: #393E46;
  --bg-400: #454e59;
  --text-input-bg: #212121;
  --toggle-input-bg: #1e88e5;

  // Borders
  --border: #444;
  --border-darker: #555;
  --input-focus-border: var(--primary-100);

  // Shadows
  --shadow: #2020208e;
  --shadow-darker: #111111bf;
  --shadow-darkest: #000000bf;
  --modal-overlay: #3d3d3db7;

  // Others
  --place-holder: #757575;
  --disabled: #474747;
  --online-count-green: #3cb371;

  // Hovered
  --link-color-hover: #4139d8;

  // Buttons
  --main-btn-bg: #61DAFB;
  --main-btn-bg-hover: #3cd5ff;
  --outline-btn-hover: #2c2c2c;
  --create-btn-bg: #2CC56F;
  --create-btn-bg-hover: #20b661;
  --save-btn-bg: #4F46E5;
  --save-btn-bg-hover: #4139d8;
  --danger-btn-bg: #FF4755;
  --danger-btn-bg-hover: #e53b49;
  --warning-btn-bg: #f5be0b;
  --warning-btn-bg-hover: #e4b00a;
  --gray-hover: #333;
  --soft-hover: #111111;


  // Toast
  --toast-success: #2CC56F;
  --toast-error: #FF4755;
  --toast-warning: #f5be0b;
  --toast-info: #4F46E5;

  // Errors and warnings
  --error: #ff3f4d;
  --warning-text: #f5be0b;


  // Content loading placeholder
  --content-placeholder: #333;
  --content-placeholder-darker: #444;

  // Chat
  --my-message-bg: #41499e;
  --my-message-hover-bg: #3a418f;
  --others-message-bg: #3e3f52;
  --others-message-hover-bg: #363749;
  --actions-bg: #4c4e66;
}