* {
  box-sizing: border-box;
  font-size: .95rem; // Size of all elements
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: var(--bg-100);
  color: var(--text-100);
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}