// Most used CSS classes for the project are defined here

.ml-xs {
  margin-left: .2rem;
}

.ml-s {
  margin-left: .4rem;
}

.ml-m {
  margin-left: .8rem;
}

.ml-l {
  margin-left: 1rem;
}

.ml-xl {
  margin-left: 1.5rem;
}

.ml-xxl {
  margin-left: 2rem;
}



.mr-xs {
  margin-right: .2rem;
}

.mr-s {
  margin-right: .4rem;
}

.mr-m {
  margin-right: .8rem;
}

.mr-l {
  margin-right: 1rem;
}

.mr-xl {
  margin-right: 1.5rem;
}

.mr-xxl {
  margin-right: 2rem;
}



.mt-xs {
  margin-top: .2rem;
}

.mt-s {
  margin-top: .4rem;
}

.mt-m {
  margin-top: .8rem;
}

.mt-l {
  margin-top: 1rem;
}

.mt-xl {
  margin-top: 1.5rem;
}

.mt-xxl {
  margin-top: 2rem;
}


.mb-xs {
  margin-bottom: .2rem;
}

.mb-s {
  margin-bottom: .4rem;
}

.mb-m {
  margin-bottom: .8rem;
}

.mb-l {
  margin-bottom: 1rem;
}

.mb-xl {
  margin-bottom: 1.5rem;
}

.mb-xxl {
  margin-bottom: 2rem;
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}