// Fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// Fade and scale
.scale-enter-active,
.scale-leave-active {
  transition: all 0.2s ease;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0.8);
}

// Slide down
.slide-down-up-enter-active {
  transition: all 80ms ease-out;
}

.slide-down-up-leave-active {
  transition: all 80ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-down-up-enter-from,
.slide-down-up-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

// Slide up
.slide-up-enter-active {
  transition: all 100ms ease-out;
}

.slide-up-leave-active {
  transition: all 100ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(10px);
  opacity: 0;
}