// Fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 100ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// Fade and scale
.scale-enter-active,
.scale-leave-active {
  transition: all 100ms ease;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0.8);
}

// Slide down
.slide-down-up-enter-active {
  transition: all 80ms ease-out;
}

.slide-down-up-leave-active {
  transition: all 80ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-down-up-enter-from,
.slide-down-up-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

// Slide up
.slide-left-fade-enter-active {
  transition: all 80ms ease-out;
}

.slide-left-fade-leave-active {
  transition: all 80ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-left-fade-enter-from,
.slide-left-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}


// Slide left
.slide-left-fast-enter-active {
  transition: all 50ms ease-out;
}

.slide-left-fast-leave-active {
  transition: all 50ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-left-fast-enter-from,
.slide-left-fast-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

// Slide right
.slide-right-enter-active {
  transition: all 80ms ease-out;
}

.slide-right-leave-active {
  transition: all 80ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

// Slide left fade
.slide-left-fade-enter-active {
  transition: all 80ms ease-out;
}

.slide-left-fade-leave-active {
  transition: all 80ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-left-fade-enter-from,
.slide-left-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}


// Tab transition
.slide-left-fade-enter-active,
.slide-left-fade-leave-active {
  transition: all 200ms ease-out;
}

.slide-left-fade-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

.slide-left-fade-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-right-fade-enter-active,
.slide-right-fade-leave-active {
  transition: all 200ms ease-out;
}

.slide-right-fade-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-right-fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}