// Use Noto Sans JP for Japanese and Poppins for English

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
